# Rename this file to keystore.properties and fill in your values
# storeFile can be an absolute path or a path relative to android/
storeFile=../keystores/tt-release.keystore
storePassword=YOUR_STORE_PASSWORD
keyAlias=tt
keyPassword=YOUR_KEY_PASSWORD
